* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
}

body {
    background-color: #260101;
    font-family: sans-serif;
}

main {
    width: 100%;
    margin: auto;
    background-color: white;
    /* flex padre */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    width: 100%;
    background-color: white;
    padding: 20px ;
    /* flex padre */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    width: 220px;
    vertical-align: middle;
    background-color: white;
}

#menu1 {
    width: 60%;
    /* flex padre*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#menu1 a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #d9414e;
    padding: 10px;
    text-align: center;
    /* flex hijo */
    flex-grow: 1;
    flex-shrink: 1;
}

#menu1 a:hover, #menu2 a:hover, #menu3 a:hover {
    background-color: #260101;
    color: #d9d9d9;
}

article {
    background-color: white;
    justify-content: center;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
}

#bienvenida {
    background-color: #260101;
    align-content: center;
    padding: 20px;
    font-size: 15px;
    padding-bottom: 20px;
    /* flex hijo */
    flex-grow: 1;
    flex-shrink: 1;
}

.beneficios1 {
    background: #d9414e;
    color: white;
    margin: 15px;
    display: flex;
    padding: 15px;
    border-radius: 30px;
    border-style: double;
    justify-content: center;
    text-align: center;
}

p {
    font-family: sans-serif;
}

.aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1x;
    flex-shrink: 1;
    flex-basis: 1;
    background-color: #d9414e;
}

div {
    background-color: #d9414e;
    padding: 20px;
    width: 50%;
    display: flex;
}

.aa {
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bb, .cc {
    color: white;
    font-size: 30px;
}

.peliculas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1x;
    flex-shrink: 1;
    flex-basis: 1;
    background-color: black;
    width: 100%;
}

#peli {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
}

.dd {
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
}

.marvel {
    color: white;
    margin: 15px;
    display: flex;
}
 
#ee {
    display: flex;
    background-color: black;
}

h3 {
    margin: 15px;
    text-align: center;
}

#peli p {
    margin: 15px;
    font-size: 15px;
    justify-content: center;
}

@media(max-width:900px)
{
    main {
        flex-direction: column;
    }

    header {
        flex-direction: column;
        padding: 0;
    }

    #logo img {
        margin: 15px;
    }

    #menu1 {
        width: 100%;
    }
    
    article {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .aside {
        width: 100%;
        justify-content: center;
    }

    .aa {
        width: 100%;
        justify-content: center;
        display: flex;
        width: 200px;
        height: 230px;
    }

    #ee {
        display: flex;
        flex-direction: column;
    }

    #peli {
        display: flex;
        flex-direction: row;
    }

    .dd {
        margin: 2px;
    }

    h3 {
        text-align: left;
    }

    footer {
        justify-content: center;
    }
}

/* para celular */
@media(max-width:600px)
{
    aside {
        flex-direction: column;
    }
}

#pie{
    background-color: #0d0d0d;
    width: 100%;
    padding: 20px;
    color: white;
    justify-content: left;
}